.options-container {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-box {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.option-btn {
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: orange;
  color: white;
  border-radius: 6px;
}

.option-btn:hover {
  background: darkorange;
}


