.favourite-screen {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 50px;
  margin-top: 20px;
}

.item-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  transition: 0.3s;
}

.item-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.item-card h3 {
  font-size: 14px;
  margin: 10px 0 5px;
}

.item-card p {
  margin: 5px 0;
  font-weight: bold;
}

.fav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: grey;
  font-size: 18px;
  transition: 0.3s;
}

.fav-btn.active {
  color: red;
}

.fav-btn:hover {
  transform: scale(1.2);
}
