.login-wrapper {
  display: flex;
  width: 60%;
  margin: 40px auto;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  height: 70vh;
}

/* LEFT IMAGE */
.login-image {
  width: 50%;
}

.login-image img {
  width: 100%;
  max-height: 100%;
}

/* RIGHT FORM */
.login-form {
  width: 50%;
  padding: 60px;
  max-height: 50%;
}

/* SIGN IN HEADING */
.login-form h2 {
  color: #ff7a00;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

/* ORANGE UNDERLINE */
.login-form h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 65px;
  height: 3px;
  background-color: #ff7a00;
  border-radius: 5px;
}
.password-field {
  position: relative;
}

.password-field input {
  width: 100%;
  padding-right: 65px;
}

.toggle-pin {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ff7a00;
  font-size: 14px;
  font-weight: 500;
}


.login-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.login-form input {
 width: 100%;
  height: 48px;
  padding: 0 14px;
  border-radius: 12px;
  border: 1.5px solid #dcdcdc;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
  
}
/* INPUT FOCUS ORANGE BORDER */
.login-form input:focus {
  outline: none;
  border: 1.5px solid #ff7a00;
}

.forgot {
  font-size: 14px;
  color: #ff7a00;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, #ff7a00, #d35400);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.google-btn {
  margin-top: 15px;
  background: #f2f2f2 !important;
  color: #333 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.signup-text span {
  color: #ff7a00;
  cursor: pointer;
  margin-left: 5px;
}

/* MESSAGE */
.message.success {
  color: green;
  margin-bottom: 10px;
}

.message.error {
  color: red;
  margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
  }

  .login-image,
  .login-form {
    width: 100%;
  }

  .login-form {
    padding: 30px;
  }
}

