
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  padding: 0 30px;
  background-color: #F3F4F6;
  color: #6B7280;
}


.title {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  padding-left: 130px;
  word-spacing: 2px;
  margin-bottom: 10px;
}


.right {
  padding-right: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: auto;   
}


.item {
 font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}


.icon {
  font-size: 16px;
  color: #F07809;
  cursor: pointer;
}
.v-line {
  color: orange;
  font-size: 24px;
  margin: 0 8px;
}
/* ================= MOBILE ================= */
@media (min-width: 0px) and (max-width: 576px) {

  .header {
    height: auto;
    padding: 10px 15px;
    flex-wrap: wrap;
  }

  .title {
    padding-left: 10px;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
  }

  .right {
    padding-right: 110px;
    gap: 12px;
    width: 100%;
    justify-content: center;
  }

  .item {
    font-size: 12px;
  }

  .icon {
    font-size: 14px;
  }

  .v-line {
    display: none; /* mobile pe line hide */
  }
}


