@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&display=swap');
.main-container {
  margin: 40px 100px;
   font-family: 'Alegreya Sans', sans-serif;
  margin-right: 70px;
}


/* Carousel Box */
.carousel-wrapper {
  background-color: #1a233a; /* Dark blue background */
  border-radius: 12px;
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: white;
}

/* Slide Layout */
.slide-content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 80px;
  align-items: center;
  justify-content: space-between;
}

/* Text Styling */
.subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.main-title {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0;
}

.offer-text {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 500;
   background: linear-gradient(to right, #F07809, #8A4505);
  color: #fff;
  width: 15vw;
  height: 7vh;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
}

/* Image & Background Circle */
.image-section {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-bg {
  position: absolute;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  z-index: 1;
}

.watch-img {
  max-height: 280px;
  z-index: 2;
  filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.5));
}

/* Navigation Buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 55px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  color: #1a233a;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.nav-btn:hover { background: #f0f0f0; }
.prev { left: -22px; } /* Half outside like in picture */
.next { right: -22px; }

/* Dots Indicator */
.dots-container {
  display: flex;
  gap: 8px;
  margin-top: 40px;
}

.dot {
  width: 10px;
  height: 3px;
  background: rgba(255,255,255,0.3);
  border-radius: 2px;
}

.dot.active {
  width: 25px;
  background: linear-gradient(to right, #F07809, #8A4505);
}

